// Colors
$taoti-orange: #d5360c;



body {
  line-height: 1.1;
  font-size: 45px;
  font-family: 'Open-Sans', sans-serif;
  background-color: $taoti-orange;
  background: $taoti-orange url('../img/orange-TV-backgrounds-2.jpg') no-repeat center center;
  color: #fff;
  margin: 0;
}

/*
    Display a fallback message for users with browsers that don't support
    all the features required by it.

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

#hint {
  z-index: 9999;
  position: fixed; top: 0; left: 20px;
  font-size: 16px;
  background: #ddd;
  color: #666;
  padding: 6px 12px 12px;
  font-style: italic;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  
  -webkit-transition: opacity 2s;
  -moz-transition:    opacity 2s;
  -ms-transition:     opacity 2s;
  -o-transition:      opacity 2s;
  transition:         opacity 2s;
  
  -webkit-transition-delay: 6s;
  -moz-transition-delay: 6s;
  -ms-transition-delay: 6s;
  -o-transition-delay: 6s;
  transition-delay: 6s;
}

#hint a { text-decoration: underline; font-style: italic; }

#hint:hover {
  opacity: 1;
  -webkit-transition: opacity .25s;
  -moz-transition:    opacity .25s;
  -ms-transition:     opacity .25s;
  -o-transition:      opacity .25s;
  transition:         opacity .25s;
}

.title { font-size: 2em; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 800; }
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; font-size: 20px; font-weight: 600; }

/* COMMON STEP STYLES */

.step {
    // text-align: center;
    width: 1000px;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */

    // outline: 1px dotted aqua;
}

// Notes for impress console.
.notes {
  display: none;
}

#intro {
  display: none;
}

.impress-on-intro {
  #intro {
    display: block;
  }
   .step {
    opacity: 0;

    &:not(.active) { opacity: 0; }
  }
  .active {
    opacity: 1;
  }
}

.impress-on-title {
   .step {
    opacity: 0;

    &:not(.active) { opacity: 0; }
  }
  .active {
    opacity: 1;
  }
}

.impress-on-overview {
  .step {
    opacity: 1;
    cursor: pointer;
    transition: all 2s linear; 

    &:not(.active) { opacity: 1; }
  }

}

.step:not(.active) { opacity: 0.1; }






